@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none !important;
}

.slick-wrapper {
    width: auto;
    margin: 0 auto;
    position: relative;
}

.slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    border: 1px solid white;      
    margin-bottom: 10px;      
}

.slide-item h3 {
    font-family: Lato, sans-serif;
    font-size: 40px;	
}

.slide-item img {
    max-width: 100%;
    max-height: 100%;
}

.slick-slide {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    width: 58px;
    height: 136px;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 58px;
    height: 136px;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


nav.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
    cursor: grab;
    overflow-x: scroll;
}

nav.navigation::-webkit-scrollbar {
    display: none;
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex; 
    margin-bottom: 35px;
}

nav ul li {
    cursor: pointer;    
    min-width: 178px;
    height: 42.12px !important;    
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2px;
}

nav ul li.active-custom-slider {
    background: #FF5B00;
    color: #fff;
    border-radius: 100px;
}



nav ul li + li {
    margin-left: 34px;
}


.container.active {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.container {
    height: 0px; 
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .arrow-left, .arrow-right {
        display: none;
    }

    .slide-item {
        height: 145px;
        margin-bottom: 5px;
    }

    .slick-slide {
        margin: 0 5px;
    }

    .slick-list {
        margin: 0 25px;
        margin-left: 2px;
    }

    nav ul {
        margin-bottom: 10px;
    }

    nav ul li {
        min-width: 5px !important;
        height: 24.12px !important;
        font-size: 12px !important;
        width: 120px !important;
    }

    nav ul li + li {
        margin-left: 10px;
        
    }
}

@media screen and (max-width: 400px) {
    .arrow-left, .arrow-right {
        display: none;
    }

    .slide-item {
        height: 135px;
        margin-bottom: 5px;
    }

    .slick-slide {
        margin: 0 5px;
    }

    .slick-list {
        margin: 0 10px;
        margin-left: 2px;
    }

    nav ul {
        margin-bottom: 10px;
    }

    nav ul li {
        min-width: 94px !important;
        height: 24.12px;
        font-size: 12px;
        width: 75px !important;
    }

    nav ul li + li {
        margin-left: 10px;
        
    }

    nav.navigation {
        margin-bottom: 10px !important;
    }
}